<div class="navbar">
  <ul>
    <li>
      <a href="javascript:;" routerLink="/startseite">Startseite</a>
    </li>
    <li>
      <a href="javascript:;" [routerLink]="aboutVar">Über uns</a>
    </li>
  </ul>
</div>

<div class="container">
  <p>{{ newName }}</p>
  <app-hello-world [name]="'Gregor'" (sendBackEvent)="newName = $event"></app-hello-world>

  <app-posts-list></app-posts-list>
  <!--

  <app-demo-wrapper>
    <p>Test inhalt</p>
  </app-demo-wrapper>
  -->

  <router-outlet></router-outlet>

</div>
